@charset "utf-8";
/* CSS Document */

body{
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    background:#f1f1f1;
    font-size:12px;
}
#info{
    width: 100%;
    height:100px;
}
.tips {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  line-height:40px;
      color: #3bb9ea;
}
#main{
      width: 300px;
    height: 300px;
    position: relative;
    margin: 20px auto;
    border: 5px solid rgb(36, 185, 243);
}
#main .block {
  width: 100px;
  height: 100px;
  position:absolute;
  left:100px;
  top:100px;
  right:0xp;
  line-height: 20px;
  text-align: left;
  font-size: 1.5em;
  background-image: url("https://lc-yee5xnhu.cn-n1.lcfile.com/78cb08ed395dec020a3d.jpg");
  background-repeat: no-repeat;
  cursor: pointer;
  transition:all 0.3s ease;
}
#main .block > span {
  text-shadow: 2px 2px 2px #fff;
  display:none;

}
#main .block:nth-child(1) {
    background-position: 0 0;
}
#main .block:nth-child(2) {
    background-position: -100px 0;
}
#main .block:nth-child(3) {
    background-position: -200px 0;
}
#main .block:nth-child(4) {
    background-position: 0 -100px;
}
#main .block:nth-child(5) {
    background-position: -100px -100px;
}
#main .block:nth-child(6) {
    background-position: -200px -100px;
}
#main .block:nth-child(7) {
    background-position: 0 -200px;
}
#main .block:nth-child(8) {
    background-position: -100px -200px;
}
#main .block:nth-child(9) {
    background-position: -200px -200px;
    display:none;
}
#control{
    width:100%;
    margin:50px auto;
}
h1{
    text-align:center;
}
button {
    margin: 10px;
    position: relative;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #4bf;
    color: #fff;
    font-size: 0.8em;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 10px 1px #ccc;
}
button:active{

  top: 1px;
  /*font-weight: 600;*/

}
#success {
  position: absolute;
  display:none;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 200px;
}